.simple-editor-wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: visible;
}

.simple-editor-content {
  max-width: 648px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.simple-editor-content .tiptap.ProseMirror.simple-editor {
  padding: 3rem 3rem calc(var(--tt-toolbar-height) + 4rem);
}

@media screen and (max-width: 480px) {
  .simple-editor-content {
    max-width: 100%;
  }

  .simple-editor-content .tiptap.ProseMirror.simple-editor {
    padding: 1rem 1.25rem calc(var(--tt-toolbar-height) + 5rem);
    font-size: 16px;
  }

  .simple-editor img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}
